<div class="posts">
    {{#each pageModel.posts}}
        {{#ifCond page ../page}}
            <div id="{{id}}" class="post">
                <a href="{{dir}}" class="title source_code button"><span class="command">$ {{lowerCase title}}</span><span class="published">{{dateFormat published}}</span></a>
                <div class="body">
                    {{{body}}}
                </div>
                <div class="footer">
                    {{#if tags}}
                        <span class="prefix icon-price-tags"></span>
                        <div class="tags">
                            {{#each tags}}
                                <a class="button tag" href="{{this}}">{{this}}</a>
                            {{/each}}
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/ifCond}}
    {{/each}}

    <div class="nav clearfix">
    {{#ifCond page pageModel.paginate.totalPages}}
    {{else}}
        <a class="button older" href="{{olderPageLink page}}"><span class="arrow-left"><</span> Older entries</a>
    {{/ifCond}}
    {{#ifCond page 1}}
    {{else}}
        <a class="button newer" href="{{newerPageLink page}}">Newer entries <span class="arrow-right">></a>
    {{/ifCond}}
    </div>
</div>
