<div class="tag info_section block_bg">
    {{#each tagData}}
        <div id="{{id}}" class="post">
            <a href="{{../pageModel.rootDir}}/{{dir}}" class="title source_code button"><span class="command">$ {{lowerCase title}}</span><span class="published">{{dateFormat published}}</span></a>
            <div class="body">
                {{{body}}}
            </div>
        </div>
    {{/each}}
</div>
